img {
  width: 100%;
  max-width: 300px;
  height: auto;
  box-shadow: 5px 5px 0px #c7b2cc;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(165, 136, 192);
  text-align: center;
  font-size: 20px;
}

h1 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: rgb(157, 66, 242);
  text-align: center;
  font-size: 50px;
}

h2 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: rgba(182, 123, 240, 0.936);
  text-align: center;
  font-size: 40px;
}

h5 {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(165, 136, 192);
  text-align: center;
  font-size: 13px;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

h3 {
  color:rgb(125, 60, 185);
  text-decoration: none;
  padding: 20px;
  font-size: 25px;
  display: inline-block;
  transition: color 0.3s;
}

h3:hover {
  color:  rgba(182, 123, 240, 0.936);
}

.p1 {
  width: 100%;
  background-color: rgb(230, 210, 235);
  padding: 10px;
  border-radius: 8px;
  flex: 1;

}

.p2,
.inicio {
  width: 100%;
  background-color: rgb(222, 199, 243);
  padding: 10px;
  border-radius: 8px;
}

.p3 {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgb(84, 60, 105);
  padding: 10px;
  border-radius: 0;
  color: rgb(51, 8, 8);
  text-align: center;
}

.formaimg {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: auto;
}

.busqueda {
  margin: 20px;
  text-align: center;
}

#busqueda {
  padding: 10px;
  width: 60%;
  font-size: 16px;
  background-color: rgb(218, 207, 233);
  ;
}

#sugerencias {
  list-style: none;
  padding: 0;
  margin-top: 10px;
  color: rgb(96, 74, 124);

}

#sugerencias li {
  padding: 8px;
  background-color: #d4c7e4;
  margin: 2px auto;
  width: 60%;
  cursor: pointer;
  border-radius: 4px;
  color: rgb(96, 74, 124);
}

.modal-personalizado {
  background-color: #d9c2f0;
  color: #4a2c6b;
}